<div class="column is-half">
  <%# This part is to create post forms %>
  <article class="media box">
    <figure class="media-left">
      <p class="image is-64x64"> <%# why is it p here and div in the bottom, test this %>
        <img>
      </p>
    </figure>
    <div class="media-content">
      <%#= render "#" #fill here a form for postage %>
    </div>
  </article>

  <%# This part is to show each post %>
  <% @posts.each do |post| %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong>The author</strong><br />
            <small>The username</small>
          </div>

          <nav class="level">
            <div class="level-left is-mobile">
              <%= link_to post, class: "level-item" do %> <%# what does the loop do here %>
                <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to edit_post_path(post), class: "level-item" do %>
                <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to post, method: :delete, data: { confirm: "Are you sure to delete this post?"} do %>
                <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              <% end %>
            </div>
          </nav>
        </div>
      </article>
    </div>
  <% end %>
</div>