<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Topics</p>
    <a href="#" class="panel-block">Topic 1</a>
    <a href="#" class="panel-block">Topic 2</a>
    <a href="#" class="panel-block">Topic 3</a>
    <a href="#" class="panel-block">Topic 4</a>
    <a href="#" class="panel-block">Topic 5</a>
    <a href="#" class="panel-block">Topic 6</a>
  </nav>
</div>