<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Topics</p>
    <% 10.times do %>
      <% post = @posts[rand(@posts.length-1)] %>
      <p class="panel-block">
        <%= link_to post.title, post_path(post[:id]), class: "is-link" %>
      </p>
    <% end %>
  </nav>
</div>