<section class="section">
  <div class="container">
    <div class="columns">
      <%= render "topics" %>
      <div class="column is-half">
        <%= render "posts/form" %>
        <%= render "feed" %>
      </div>
      <%= render "authors" %>
    </div>
  </div>
</section>